[submodule "digital-ocean-pptp-vpn"]
	path = digital-ocean-pptp-vpn
	url = git@github.com:MdNor/digital-ocean-pptp-vpn.git
[submodule "openvpn_autoconfig"]
	path = openvpn_autoconfig
	url = git@github.com:tinfoil/openvpn_autoconfig.git
