# via ... source <(wget -qO- https://raw.githubusercontent.com/mralexgray/vps_config/master/config/vps_config.rc)

vps_config_source () {

	echo "exporting var with name VARIABLE"
	alias vps_config='$SHELL <(wget -qO- https://raw.githubusercontent.com/mralexgray/vps_config/master/vps_config)'

	if [[ $(uname) == "Darwin" ]]; then echo you use a mac, gross; return; fi
		
	iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
	# iptables-save
	
	[[ -z $SSH_CONNECTION ]] && echo "NOT an SSH connection, vps_config will NOT have any part of this!" && return

	# if ifconfig tap0 > /dev/null 2>&1; then echo "tap0 already configured! That is all."; return; fi
	
	echo "Bringing up tap0!"
	/sbin/ifup tap0	

	# [[ $SSH_CLIENT =~ ${CLIENT=10.10.10.100} ]] && {
	
	sleep 4
	CLIENT=10.10.10.100
	ping -c1 $CLIENT > /dev/null 2>&1 && {
		
		echo "setting up sshfs because you are our client! ($CLIENT)"
		local MOUNT_PT=/mnt/100
		mkdir $MOUNT_PT 2> /dev/null 
		sshfs -o follow_symlinks -p 2222 localadmin@localhost:/ $MOUNT_PT 
	
	}
}

vps_config_source
